.text-center{
    text-align: center;
}

.container{
    background-color: #000;
    margin: auto;
    max-width: 30vw;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.row{
    padding: 8px 0px;
}

html, body{
    height: max-content;
    width: max-content;
}

.button{
    padding: 20px;
    margin: 0px 3px;
    bottom: 2px solid black; 
    
}

.input{
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}
